* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.bdy {
    height: 90vh;
    width: 100vw;
    background-color: aqua;
}
.title{
    width: 90%;
}
i {
    border: 0;
    border-radius: 50%;
    background-color: orangered;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
}

.input {
    height: 15vh;
}

.task {
    height: 50vh;
    overflow-y: scroll;
}



